* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background: #ff9a3b;
    background: linear-gradient(90deg, rgba(255, 154, 59, 1) 0%, rgba(255, 117, 117, 1) 50%, rgba(246, 150, 255, 1) 100%);
}

header {
    background-color: rgb(158, 158, 158);
    display: flex;
    height: 60px;
    /* margin: auto; */
    /* text-align: center; */
    /* margin: auto; */
    justify-content: center;
    align-items: center;
    /* bottom: 20px; */
    border: black 3px solid;
}

header p {
    color: yellow;
    font-weight: bold;
    font-size: 1.4em;
     text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
               1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

.container {
    margin-top: 30px;
    /* padding-top: 40px; */
    /* background-color: antiquewhite; */
    height: 600px;
    display: flex;
    /* align-items: flex-start; */
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;

}

.item {
    border: 3px solid black;
    padding: 20px;
    margin: 1px;
    width: 200px;
    /* margin: auto; */
    /* text-align: center; */
    /* align-self: center; */
    /* margin: 3px; */
    cursor: pointer;
    background-color: orchid;
    font-size: 1.2em;
    font-weight: bold;

}

@media (max-width: 600px) {

    header {
        height: 48px;
    }

    .container {
        height: 1800px;
        justify-content: flex-start;
        align-items: center;
    }

    .item {
        padding: 12px;
        width: 120px;
    }


}

@media (min-width: 600px) and (max-width: 1260px) {

    header {
        height: 48px;
    }

    .container {
        height: 1200px;
        justify-content: flex-start;
        align-items: center;
    }

    .item {
        padding: 16px;
        width: 160px;
    }


}