* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6em;
}
body {
    background-color: rgb(75, 168, 230);
    background-image: url("/public/water.jpg");
}


.vid-container {
    position: relative;
    width: 80%;
    max-width: 1000px;
    margin: 2rem auto;
}

.main-vid {
    /* display: block; */
    width: 100%;
    height: auto;
    border: solid gold 20px;
}

.video-overlay {
    flex: 1 0 28%;
    flex-wrap: wrap;
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: space-around;
    /* align-items: flex-start; */
    gap: 1rem;
    padding: 20px;
    pointer-events: none;
    z-index: 2;
}

.video-overlay img {
    width: clamp(80px, 18vw, 150px);
    /* max-height: calc(100% - 40px); */
    height: auto;
    object-fit: contain;
}


.top {
    padding-top: 4%;
    min-width: 24%;
    z-index: 1000;
    align-self: flex-start;

}

.bottom {
    padding-bottom: 4%;
    min-width: 27%;
    z-index: 1000;
    /* align-self: flex-end; */

}

@media (max-width: 780px) {

    
}